# Django #
*.log
*.pot
*.pyc
*.DS_Store
__pycache__/
venv
media
static
.env
*.pdf

# If you are using PyCharm # 
.idea/

# Visual Studio Code # 
.vs/*
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
.vscode/launch.json 
!.vscode/extensions.json 
.history
veritas/settings.py
